/* FIX: Telegram iOS zoom */
input, select, textarea, button {
    font-size: 16px !important;
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    background: #1e1e1e;
    color: white;
}

.btn {
    width: 100%;
    background: #22c55e;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.cat {
    background: #1d1f24;
    padding: 15px;
    border-radius: 12px;
}

.cat-title {
    font-size: 18px;
    font-weight: 700;
}

.cat-sub {
    font-size: 14px;
    opacity: 0.7;
}
.photo-box {
    z-index: 1;
}

#finishBtn {
    position: relative;
    z-index: 10;
}
